@import "reset";
@import "variables/global";
@import "theme/main";

.app {
    min-height: 100vh;
    background: var(--bg);
    font: var(--font-m);
    color: var(--text);
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: var(--light-bg);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--hint);
    border-radius: 20px;
    border: 1px solid  var(--light-bg);
}
