.button {
    cursor: pointer;
    color: var(--text);
    padding: 6px 16px;
    display: flex;
    align-items: center;

    &:hover {
        color: var(--accent);
    }
}

.clear {
    padding: 0;
    border: none;
    background: none;
    outline: none;
}

.filled {
    background: var(--light-bg);
    border: none;
    outline: none;
    border-radius: var(--border-radius-special-m);
}

.outline {
    background: none;
    border-radius: var(--border-radius-special-m);

    &.normal {
        border: 1px solid var(--icon);

        &:hover {
            border: 1px solid var(--icon);
        }
    }

    &.error {
        border: 1px solid var(--cancel);

        &:hover {
            opacity: 0.8;
            color: var(--cancel);
        }
    }

    &.success {
        border: 1px solid var(--save);

        &:hover {
            opacity: 0.8;
            color: var(--save);
        }
    }
}

.m {
    font: var(--font-m);
}

.l {
    font: var(--font-l);
}

.xl {
    font: var(--font-xl);
}

.disabled {
    opacity: 0.5;
}

.full-width {
    width: 100%;
}
